In [2]:
import pandas as pd

In [12]:
rankings = pd.read_csv('./prepared_data/scoring_3_10_2015.csv')

In [15]:
rankings.head()

  Rank             Name    GM   W-L     PTS   PPG  OPP PTS  OPP PPG  SCR MAR
0    1         Kentucky  31.0  31-0  2314.0  74.6   1656.0     53.4     21.2
1    2          Gonzaga  34.0  32-2  2690.0  79.1   2071.0     60.9     18.2
2    3          Arizona  31.0  28-3  2376.0  76.6   1826.0     58.9     17.7
3    4        Wisconsin  31.0  28-3  2222.0  71.7   1728.0     55.7     15.9
4    5  Sam Houston St.  31.0  24-7  2295.0  74.0   1809.0     58.4     15.7

In [14]:
rankings.tail()

,Rank,Name,GM,W-L,PTS,PPG,OPP PTS,OPP PPG,SCR MAR
347,NR,Northern Ky.,30.0,13-17,2117.0,70.6,2079.0,69.3,1.3
348,NR,Grand Canyon,31.0,17-14,2128.0,68.6,2113.0,68.2,0.5
349,NR,Omaha,29.0,12-17,2226.0,76.8,2256.0,77.8,-1.0
350,NR,UMass Lowell,29.0,12-17,1780.0,61.4,1928.0,66.5,-5.1
351,NR,Abilene Christian,31.0,10-21,1976.0,63.7,2186.0,70.5,-6.8

Their are unranked teams we will have to figure out how to deal with them

In [30]:
results_test = pd.read_csv('./raw_data/final_results.csv') #completly broken
features_and_labels = pd.merge(results_test, rankings, how='left', left_on=['Team'], right_on=['Name'])
features_and_labels = pd.merge(features_and_labels, rankings, how='left', left_on=['Team.1'], right_on=['Name'], suffixes=('', '_t2'))
features_and_labels

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1,...,SCR MAR,Rankt2,Namet2,GMt2,W-Lt2,PTSt2,PPGt2,OPP PTSt2,OPP PPGt2,SCR MARt2
0,1985,1,1,West,1,83,St Johns,Southern,59,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,1,1,West,2,81,VCU,Marshall,65,15,...,6.7,NaN,Marshall,31.0,11-20,2092.0,67.5,2229.0,71.9,-4.4
2,1985,1,1,West,3,65,NC State,Nevada,56,14,...,5.7,296,Nevada,30.0,9-21,1828.0,60.9,1994.0,66.5,-5.5
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,1,1,West,5,58,Washington,Kentucky,65,12,...,0.8,1,Kentucky,31.0,31-0,2314.0,74.6,1656.0,53.4,21.2
5,1985,1,1,West,6,75,Tulsa,UTEP,79,11,...,4.6,76,UTEP,30.0,21-9,2083.0,69.4,1899.0,63.3,6.1
6,1985,1,1,West,7,50,Alabama,Arizona,41,10,...,3.0,3,Arizona,31.0,28-3,2376.0,76.6,1826.0,58.9,17.7
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9,...,8.1,42,Arkansas,31.0,24-7,2450.0,79.0,2186.0,70.5,8.5
8,1985,1,2,East,1,68,Georgetown,Lehigh,43,16,...,6.4,163,Lehigh,30.0,16-14,2042.0,68.1,2000.0,66.7,1.4
9,1985,1,2,East,2,65,Georgia Tech,Mercer,58,15,...,-1.3,119,Mercer,33.0,18-15,2193.0,66.5,2055.0,62.3,4.2
10,1985,1,2,East,3,76,Illinois,Northeastern,57,14,...,7.1,124,Northeastern,34.0,23-11,2332.0,68.6,2210.0,65.0,3.6
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13,...,NaN,60,Iona,34.0,26-8,2707.0,79.6,2476.0,72.8,6.8
12,1985,1,2,East,5,85,SMU,Old Dominion,68,12,...,9.7,32,Old Dominion,30.0,24-6,1974.0,65.8,1699.0,56.6,9.2
13,1985,1,2,East,6,67,Georgia,Wichita St,59,11,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1985,1,2,East,7,70,Syracuse,DePaul,65,10,...,4.2,269,DePaul,31.0,12-19,2157.0,69.6,2276.0,73.4,-3.8
15,1985,1,2,East,8,60,Temple,Virginia Tech,57,9,...,4.7,271,Virginia Tech,32.0,11-21,2107.0,65.8,2230.0,69.7,-3.8
16,1985,1,3,Midwest,1,96,Oklahoma,North Carolina A&T,83,16,...,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1985,1,3,Midwest,2,67,Memphis,Pennsylvania,55,15,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1985,1,3,Midwest,3,75,Duke,Pepperdine,62,14,...,15.5,144,Pepperdine,31.0,18-13,1975.0,63.7,1910.0,61.6,2.1
19,1985,1,3,Midwest,4,75,Ohio St,Iowa St,64,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1985,1,3,Midwest,5,78,Louisiana Tech,Pittsburgh,54,12,...,8.7,146,Pittsburgh,32.0,19-13,2155.0,67.3,2089.0,65.3,2.1
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11,...,-3.2,222,Boston College,31.0,13-18,2042.0,65.9,2076.0,67.0,-1.1
22,1985,1,3,Midwest,7,70,UAB,Michigan St,68,10,...,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1985,1,4,Southeast,1,59,Michigan,Fairleigh Dickinson,55,16,...,0.6,300,Fairleigh Dickinson,29.0,8-21,1956.0,67.4,2130.0,73.4,-6.0
25,1985,1,4,Southeast,2,76,North Carolina,Middle Tennessee St,57,15,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1985,1,4,Southeast,3,49,Kansas,Ohio,38,14,...,6.8,281,Ohio,30.0,10-20,2028.0,67.6,2166.0,72.2,-4.6
27,1985,1,4,Southeast,4,55,LSU,Navy,78,13,...,6.3,NaN,Navy,32.0,13-19,1952.0,61.0,2059.0,64.3,-3.3
28,1985,1,4,Southeast,5,69,Maryland,Miami Ohio,68,12,...,6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1985,1,4,Southeast,6,58,Purdue,Auburn,59,11,...,6.3,276,Auburn,31.0,12-19,2098.0,67.7,2235.0,72.1,-4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,2018,2,1,South,2,73,Cincinnati,Nevada,75,7,...,7.4,296,Nevada,30.0,9-21,1828.0,60.9,1994.0,66.5,-5.5
2113,2018,2,1,South,3,62,Tennessee,Loyola Chicago,63,11,...,-0.9,156,Loyola Chicago,32.0,19-13,1985.0,62.0,1930.0,60.3,1.7
2114,2018,2,1,South,13,75,Buffalo,Kentucky,95,5,...,6.7,1,Kentucky,31.0,31-0,2314.0,74.6,1656.0,53.4,21.2
2115,2018,2,2,West,1,70,Xavier,Florida St,75,9,...,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2116,2018,2,2,West,2,65,North Carolina,Texas A&M,86,7,...,10.0,91,Texas A&M,30.0,20-10,2024.0,67.5,1863.0,62.1,5.4
2117,2018,2,2,West,3,64,Michigan,Houston,63,6,...,0.6,224,Houston,30.0,12-18,1943.0,64.8,1978.0,65.9,-1.2
2118,2018,2,2,West,4,90,Gonzaga,Ohio St,84,5,...,18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2119,2018,2,3,East,1,81,Villanova,Alabama,58,9,...,15.1,134,Alabama,31.0,18-13,2074.0,66.9,1980.0,63.9,3.0
2120,2018,2,3,East,2,76,Purdue,Butler,73,10,...,6.3,38,Butler,31.0,22-9,2165.0,69.8,1891.0,61.0,8.8
2121,2018,2,3,East,3,69,Texas Tech,Florida,66,6,...,-3.2,120,Florida,31.0,15-16,1983.0,64.0,1855.0,59.8,4.1
2122,2018,2,3,East,13,71,Marshall,West Virginia,94,5,...,-4.4,51,West Virginia,31.0,23-8,2296.0,74.1,2059.0,66.4,7.6
2123,2018,2,4,Midwest,1,83,Kansas,Seton Hall,79,8,...,6.8,168,Seton Hall,30.0,16-14,2063.0,68.8,2029.0,67.6,1.1
2124,2018,2,4,Midwest,2,87,Duke,Rhode Island,62,7,...,15.5,47,Rhode Island,29.0,21-8,1956.0,67.4,1723.0,59.4,8.0
2125,2018,2,4,Midwest,3,53,Michigan St,Syracuse,55,11,...,NaN,118,Syracuse,31.0,18-13,2096.0,67.6,1965.0,63.4,4.2
2126,2018,2,4,Midwest,4,53,Auburn,Clemson,84,5,...,-4.4,NaN,Clemson,30.0,16-14,1871.0,62.4,1851.0,61.7,0.7
2127,2018,3,1,South,9,61,Kansas St,Kentucky,58,5,...,NaN,1,Kentucky,31.0,31-0,2314.0,74.6,1656.0,53.4,21.2
2128,2018,3,1,South,7,68,Nevada,Loyola Chicago,69,11,...,-5.5,156,Loyola Chicago,32.0,19-13,1985.0,62.0,1930.0,60.3,1.7
2129,2018,3,2,West,9,75,Florida St,Gonzaga,60,4,...,NaN,2,Gonzaga,34.0,32-2,2690.0,79.1,2071.0,60.9,18.2
2130,2018,3,2,West,7,72,Texas A&M,Michigan,99,3,...,5.4,188,Michigan,30.0,15-15,1938.0,64.6,1920.0,64.0,0.6
2131,2018,3,3,East,1,90,Villanova,West Virginia,78,5,...,15.1,51,West Virginia,31.0,23-8,2296.0,74.1,2059.0,66.4,7.6
2132,2018,3,3,East,2,65,Purdue,Texas Tech,78,3,...,6.3,258,Texas Tech,31.0,13-18,1896.0,61.2,1994.0,64.3,-3.2
2133,2018,3,4,Midwest,1,80,Kansas,Clemson,76,5,...,6.8,NaN,Clemson,30.0,16-14,1871.0,62.4,1851.0,61.7,0.7
2134,2018,3,4,Midwest,2,69,Duke,Syracuse,65,11,...,15.5,118,Syracuse,31.0,18-13,2096.0,67.6,1965.0,63.4,4.2
2135,2018,4,1,South,9,62,Kansas St,Loyola Chicago,78,11,...,NaN,156,Loyola Chicago,32.0,19-13,1985.0,62.0,1930.0,60.3,1.7
2136,2018,4,2,West,9,54,Florida St,Michigan,58,3,...,NaN,188,Michigan,30.0,15-15,1938.0,64.6,1920.0,64.0,0.6
2137,2018,4,3,East,1,71,Villanova,Texas Tech,59,3,...,15.1,258,Texas Tech,31.0,13-18,1896.0,61.2,1994.0,64.3,-3.2
2138,2018,4,4,Midwest,1,85,Kansas,Duke,81,2,...,6.8,6,Duke,31.0,28-3,2519.0,81.3,2037.0,65.7,15.5
2139,2018,5,1,Final Four,11,57,Loyola Chicago,Michigan,69,3,...,1.7,188,Michigan,30.0,15-15,1938.0,64.6,1920.0,64.0,0.6
2140,2018,5,2,Final Four,1,95,Villanova,Kansas,79,1,...,15.1,59,Kansas,31.0,24-7,2229.0,71.9,2018.0,65.1,6.8
2141,2018,6,1,Championship,3,62,Michigan,Villanova,79,1,...,0.6,9,Villanova,31.0,29-2,2377.0,76.7,1908.0,61.5,15.1

In [27]:
?pd.merge

Signature:
pd.merge(
    ['left', 'right', "how='inner'", 'on=None', 'left_on=None', 'right_on=None', 'left_index=False', 'right_index=False', 'sort=False', "suffixes=('_x', '_y')", 'copy=True', 'indicator=False', 'validate=None'],
)
Docstring:
Merge DataFrame objects by performing a database-style join operation by
columns or indexes.

If joining columns on columns, the DataFrame indexes *will be
ignored*. Otherwise if joining indexes on indexes or indexes on a column or
columns, the index will be passed on.

Parameters
----------
left : DataFrame
right : DataFrame
how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : boolean, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels
right_index : boolean, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index
sort : boolean, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword)
suffixes : 2-length sequence (tuple, list, ...)
    Suffix to apply to overlapping column names in the left and right
    side, respectively
copy : boolean, default True
    If False, do not copy data unnecessarily
indicator : boolean or string, default False
    If True, adds a column to output DataFrame called "_merge" with
    information on the source of each row.
    If string, column with information on source of each row will be added to
    output DataFrame, and column will be named value of string.
    Information column is Categorical-type and takes on a value of "left_only"
    for observations whose merge key only appears in 'left' DataFrame,
    "right_only" for observations whose merge key only appears in 'right'
    DataFrame, and "both" if the observation's merge key is found in both.

validate : string, default None
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

    .. versionadded:: 0.21.0

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0

Examples
--------

>>> A              >>> B
    lkey value         rkey value
0   foo  1         0   foo  5
1   bar  2         1   bar  6
2   baz  3         2   qux  7
3   foo  4         3   bar  8

>>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
   lkey  value_x  rkey  value_y
0  foo   1        foo   5
1  foo   4        foo   5
2  bar   2        bar   6
3  bar   2        bar   8
4  baz   3        NaN   NaN
5  NaN   NaN      qux   7

Returns
-------
merged : DataFrame
    The output type will the be same as 'left', if it is a subclass
    of DataFrame.

See also
--------
merge_ordered
merge_asof
DataFrame.join
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

In [20]:
results_test

,Year,Round,Region Number,Region Name,Seed,Score,Team,Team.1,Score.1,Seed.1
0,1985,1,1,West,1,83,St Johns,Southern,59,16
1,1985,1,1,West,2,81,VCU,Marshall,65,15
2,1985,1,1,West,3,65,NC State,Nevada,56,14
3,1985,1,1,West,4,85,UNLV,San Diego St,80,13
4,1985,1,1,West,5,58,Washington,Kentucky,65,12
5,1985,1,1,West,6,75,Tulsa,UTEP,79,11
6,1985,1,1,West,7,50,Alabama,Arizona,41,10
7,1985,1,1,West,8,54,Iowa,Arkansas,63,9
8,1985,1,2,East,1,68,Georgetown,Lehigh,43,16
9,1985,1,2,East,2,65,Georgia Tech,Mercer,58,15
10,1985,1,2,East,3,76,Illinois,Northeastern,57,14
11,1985,1,2,East,4,59,Loyola Illinois,Iona,58,13
12,1985,1,2,East,5,85,SMU,Old Dominion,68,12
13,1985,1,2,East,6,67,Georgia,Wichita St,59,11
14,1985,1,2,East,7,70,Syracuse,DePaul,65,10
15,1985,1,2,East,8,60,Temple,Virginia Tech,57,9
16,1985,1,3,Midwest,1,96,Oklahoma,North Carolina A&T,83,16
17,1985,1,3,Midwest,2,67,Memphis,Pennsylvania,55,15
18,1985,1,3,Midwest,3,75,Duke,Pepperdine,62,14
19,1985,1,3,Midwest,4,75,Ohio St,Iowa St,64,13
20,1985,1,3,Midwest,5,78,Louisiana Tech,Pittsburgh,54,12
21,1985,1,3,Midwest,6,53,Texas Tech,Boston College,55,11
22,1985,1,3,Midwest,7,70,UAB,Michigan St,68,10
23,1985,1,3,Midwest,8,55,USC,Illinois St,58,9
24,1985,1,4,Southeast,1,59,Michigan,Fairleigh Dickinson,55,16
25,1985,1,4,Southeast,2,76,North Carolina,Middle Tennessee St,57,15
26,1985,1,4,Southeast,3,49,Kansas,Ohio,38,14
27,1985,1,4,Southeast,4,55,LSU,Navy,78,13
28,1985,1,4,Southeast,5,69,Maryland,Miami Ohio,68,12
29,1985,1,4,Southeast,6,58,Purdue,Auburn,59,11
...,...,...,...,...,...,...,...,...,...,...
2112,2018,2,1,South,2,73,Cincinnati,Nevada,75,7
2113,2018,2,1,South,3,62,Tennessee,Loyola Chicago,63,11
2114,2018,2,1,South,13,75,Buffalo,Kentucky,95,5
2115,2018,2,2,West,1,70,Xavier,Florida St,75,9
2116,2018,2,2,West,2,65,North Carolina,Texas A&M,86,7
2117,2018,2,2,West,3,64,Michigan,Houston,63,6
2118,2018,2,2,West,4,90,Gonzaga,Ohio St,84,5
2119,2018,2,3,East,1,81,Villanova,Alabama,58,9
2120,2018,2,3,East,2,76,Purdue,Butler,73,10
2121,2018,2,3,East,3,69,Texas Tech,Florida,66,6
2122,2018,2,3,East,13,71,Marshall,West Virginia,94,5
2123,2018,2,4,Midwest,1,83,Kansas,Seton Hall,79,8
2124,2018,2,4,Midwest,2,87,Duke,Rhode Island,62,7
2125,2018,2,4,Midwest,3,53,Michigan St,Syracuse,55,11
2126,2018,2,4,Midwest,4,53,Auburn,Clemson,84,5
2127,2018,3,1,South,9,61,Kansas St,Kentucky,58,5
2128,2018,3,1,South,7,68,Nevada,Loyola Chicago,69,11
2129,2018,3,2,West,9,75,Florida St,Gonzaga,60,4
2130,2018,3,2,West,7,72,Texas A&M,Michigan,99,3
2131,2018,3,3,East,1,90,Villanova,West Virginia,78,5
2132,2018,3,3,East,2,65,Purdue,Texas Tech,78,3
2133,2018,3,4,Midwest,1,80,Kansas,Clemson,76,5
2134,2018,3,4,Midwest,2,69,Duke,Syracuse,65,11
2135,2018,4,1,South,9,62,Kansas St,Loyola Chicago,78,11
2136,2018,4,2,West,9,54,Florida St,Michigan,58,3
2137,2018,4,3,East,1,71,Villanova,Texas Tech,59,3
2138,2018,4,4,Midwest,1,85,Kansas,Duke,81,2
2139,2018,5,1,Final Four,11,57,Loyola Chicago,Michigan,69,3
2140,2018,5,2,Final Four,1,95,Villanova,Kansas,79,1
2141,2018,6,1,Championship,3,62,Michigan,Villanova,79,1