In [2]:
import pandas as pd

In [7]:
rankings = pd.read_csv('./prepared_data/scoring_3_10_2015.csv')

In [10]:
rankings.head()

  Rank             Name    GM   W-L     PTS   PPG  OPP PTS  OPP PPG  SCR MAR
0    1         Kentucky  31.0  31-0  2314.0  74.6   1656.0     53.4     21.2
1    2          Gonzaga  34.0  32-2  2690.0  79.1   2071.0     60.9     18.2
2    3          Arizona  31.0  28-3  2376.0  76.6   1826.0     58.9     17.7
3    4        Wisconsin  31.0  28-3  2222.0  71.7   1728.0     55.7     15.9
4    5  Sam Houston St.  31.0  24-7  2295.0  74.0   1809.0     58.4     15.7